body {
    font-size: 15px;
    color: #70757a;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    }

.container2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    }

.container3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    }

.logo {
    display: flex;
    width: 272px;
    height: 92px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25vh;
    transform: translateY(-50%);
  }
  
  
.texte {
    color: #70757a;
  }

.lien {
    color: #70757a;
    cursor: pointer;
    font-size: 14px;
    padding: 15px;
  }



a:link {color: #70757a;
  text-decoration: none;
}


a:active {
    color: #70757a;
    text-decoration: none;
  }
  
a:visited {
    color: #70757a;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
  

.lien2 {
    color: rgba(0,0,0,.87);
    cursor: pointer;
    font-size: 14px;
    padding: 15px;
  }

p {
    margin-top: 18vh;
    transform: translateY(-50%);
  }

.dd {
    display: flex;
    width: 380px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.button {
    display: flex;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.champ {
    display: flex;
    width: 582px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 30px;
    border-color: rgb(239, 237, 237);
}

.marge {
  margin: 15px;
  border-color: transparent;
  width: 200px;
  height: 30px;
  cursor: pointer;
}

.button2 {
  background-color: #1a73e8;
  border: 1px;
  color: white;
  width: 117px;
  height: 36px;
  margin-top: -15px;
  font-size: 14px;
  cursor: pointer;
}

.footer {
  background-color: #f8f8f8;
  width: 100%;
  border-color: #f8f8f8;
}

.alignement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gb_Ze {
  width: 20px;
  height: 20px;
  margin-top: 13px;
}